In [1]:
import pandas as pd
import requests
import time

In [76]:
#crawl data untuk keyword naturalisasi di X, untuk mendapatkan username, id, dan tweet

filename = 'naturalisasi.csv'
search_keyword = 'naturalisasi since:2024-10-01 until:2024-10-05 lang:id'
limit = 100

!npx -y tweet-harvest@2.6.1 -o "{filename}" -s "{search_keyword}" --tab "LATEST" -l {limit} --token {'787fc6049a3a3cc6f09100a76e484f471fb59e7e'}

Tweet Harvest [v2.6.1]

Research by Helmi Satria
Use it for Educational Purposes only!

This script uses Chromium Browser to crawl data from Twitter with your Twitter auth token.
Please enter your Twitter auth token when prompted.

Note: Keep your access token secret! Don't share it with anyone else.
Note: This script only runs on your local device.


Opening twitter search page...


-- Scrolling... (1)
Filling in keywords: naturalisasi since:2024-10-01 until:2024-10-05 lang:id

 (2) (3)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi.csv
Total tweets saved: 18


Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi.csv
Total tweets saved: 36

-- Scrolling... (1) (2) (3)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi.csv
Total tweets saved: 53

-- Scrolling... (1) (2) (3)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi.csv
Total tweets saved: 72

-- Scrolling... (1)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi.csv
Total tweets saved: 90

-- Scrolling... (1)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi.csv
Total tweets saved: 106

--Taking a break, waiting for 10 seconds...
Got 106 tweets, done scrolling...

In [17]:
#read_csv file 
df = pd.read_csv('tweets-data/naturalisasi.csv')
df.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1842352858207035452,Fri Oct 04 23:55:25 +0000 2024,0,MABA harap dapat pemain naturalisasi sebelum S...,1842352858207035452,NaN,NaN,in,Bandar Kuala Lumpur,0,0,0,https://x.com/AtletMalaysia/status/18423528582...,2230869265,AtletMalaysia
1,1842343354505535569,Fri Oct 04 23:55:14 +0000 2024,0,@SeputarMadrid sep yg di list nominees kok lou...,1842352811708919986,NaN,SeputarMadrid,in,Earth,0,1,0,https://x.com/mift189/status/1842352811708919986,2642778856,mift189
2,1842351540281241769,Fri Oct 04 23:50:11 +0000 2024,1,MABA harap dapat turunkan pemain naturalisasi ...,1842351540281241769,NaN,NaN,in,Bandar Kuala Lumpur,0,0,0,https://x.com/AtletMalaysia/status/18423515402...,2230869265,AtletMalaysia
3,1842031501057392678,Fri Oct 04 23:46:53 +0000 2024,0,@gilabola_ina Malaysia mending Naturalisasi Ul...,1842350712673411272,NaN,gilabola_ina,in,Indonesia,0,0,0,https://x.com/BentVuijk/status/184235071267341...,264927696,BentVuijk
4,1842349842364080288,Fri Oct 04 23:43:26 +0000 2024,0,boaz kalo masih muda ga bakal dah indonesia na...,1842349842364080288,NaN,NaN,in,"London, England",0,0,0,https://x.com/octoivan/status/1842349842364080288,88359639,octoivan

In [19]:
#get user name 
username = list(set(df['username'].tolist()))
username_kumpulan = username[:15]
username_kumpulan

['BentVuijk',
 'LayarTiang87515',
 'TjoeNathan_',
 'seluvvv77',
 'bharianmy',
 'Melt__yourHeart',
 'fahmy_z17792',
 'DindaLaw88',
 'andreacahya7',
 'sunseunnie',
 'soelung77',
 'Nahrowi_wawie',
 'nophagundol',
 'inibowoitubukan',
 'QalWeruy72584']

In [26]:
count = 0 
url = 'https://api.x.com/2/users/by/username/'
bearer_token = "AAAAAAAAAAAAAAAAAAAAAAXSwAEAAAAAAy1vX36lEBtmOJ7HzyNXU9wJcY8%3DMZ5qe8DH8xWua8WIy2oHSjrXUpeDsMaRVkfetiHOIQvn5m7M0X"

path_params = 'BentVuijk'
params = {
    'user.fields': 'created_at,description,entities,id,location,name,pinned_tweet_id,profile_image_url,protected,public_metrics,url,username,verified,withheld'
}

headers = {
    "Authorization": f"Bearer {bearer_token}"
}

data_user_profile = {
    'id':[],
    'username':[],
    'name':[],
    'description':[],
    'location':[],
    'verified':[],
    'created_at':[],
    'profile_image_url':[],
    'followers_count':[],
    'following_count':[],
    'tweet_count':[],
    'like_count':[],
    'listed_count':[],
}
for user in username_kumpulan:
    response = requests.get(f'{url}{user}', headers=headers, params=params)
    if response.status_code == 200:
        data = response.json()
        data_user_profile['id'].append(data['data']['id'])
        data_user_profile['username'].append(data['data']['username'])
        data_user_profile['name'].append(data['data']['name'])
        data_user_profile['description'].append(data['data']['description'])
        try:
            data_user_profile['location'].append(data['data']['location'])
        except:
            data_user_profile['location'].append(None)
        data_user_profile['verified'].append(data['data']['verified'])
        data_user_profile['created_at'].append(data['data']['created_at'])
        data_user_profile['profile_image_url'].append(data['data']['profile_image_url'])
        data_user_profile['followers_count'].append(data['data']['public_metrics']['followers_count'])
        data_user_profile['following_count'].append(data['data']['public_metrics']['following_count'])
        data_user_profile['tweet_count'].append(data['data']['public_metrics']['tweet_count'])
        data_user_profile['like_count'].append(data['data']['public_metrics']['like_count'])
        data_user_profile['listed_count'].append(data['data']['public_metrics']['listed_count'])
    else:
        print(response.status_code)
    count += 1
    time.sleep(30)
    if count % 3 == 0:
        time.sleep(60*15)

data_user_profile

{'id': ['264927696',
  '1692749467127271424',
  '1257726520392445952',
  '1778380760346722304',
  '63070483',
  '1296155080941424641',
  '717694243599290368',
  '1731115890815664128',
  '2980199287',
  '964311177080733696',
  '1759992179215478786',
  '78497424',
  '173004529',
  '2499680852',
  '1780852486074695681'],
 'username': ['BentVuijk',
  'LayarTiang87515',
  'TjoeNathan_',
  'seluvvv77',
  'bharianmy',
  'Melt__yourHeart',
  'fahmy_z17792',
  'DindaLaw88',
  'andreacahya7',
  'sunseunnie',
  'soelung77',
  'Nahrowi_wawie',
  'nophagundol',
  'inibowoitubukan',
  'QalWeruy72584'],
 'name': ['Bent_Vuijk',
  'Tiang Layar',
  'Tjoenathan Dian.S',
  'seluvvv',
  'Berita Harian',
  '.',
  'fahmy_z17792',
  'Dinda',
  'Genos murid saitama',
  'Dee/Dii',
  'SamSon',
  'Jadwal Bola Update',
  'Dwi Nopha Danuwijoyo',
  'supermansantai_‚Ñ¢',
  'qal weruy'],
 'description': ['Holla Holla Bola ‚öΩüèÉ',
  '',
  'Semarang City ||guitar üé∏ || Football ‚öΩ|| ig : tjoenathan_ds ||',
  '‚ú®Ô∏èf24‚ú®Ô∏èfreedom of speech should be real‚ú®Ô∏è',
  'Wadah Pembaharuan. \nIkuti kami juga di https://t.co/hM7q8z63H2 \nThe New Straits Times Press (Malaysia) Berhad (Co. No. 196101000449 / 4485 H)',
  '.',
  '',
  'Akun baru dari @PyongDLaw .\n#AML .\n#AntiMoneyLaundering .\n#FreeDonbass .\n#FreePalestine .\n#FreeKachin .\n\nChina State Controlled Account.',
  '',
  '',
  'Akun ke-3\n---Orang miskin dan bodoh dipelihara negara agar tetap berkuasa--- Asian Value',
  'Living for mampir ngombe.\nInfo sepakbola Nasional & Liga2x Top Luar Negeri.',
  'Demi masa depan',
  'pagi dagang koran\nmalem dagang ketoprak',
  ''],
 'location': ['Indonesia',
  None,
  'Semarang Utara 1, Indonesia',
  None,
  'Malaysia',
  None,
  None,
  'Central Region, Singapore',
  None,
  None,
  'Commuter Jakarta, Konoha',
  'Stutgart',
  "apsela korek's",
  None,
  None],
 'verified': [False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 'created_at': ['2011-03-12T17:59:00.000Z',
  '2023-08-19T04:05:44.000Z',
  '2020-05-05T17:39:17.000Z',
  '2024-04-11T11:13:28.000Z',
  '2009-08-05T08:06:17.000Z',
  '2020-08-19T18:40:40.000Z',
  '2016-04-06T12:43:36.000Z',
  '2023-12-03T01:00:15.000Z',
  '2015-01-13T17:21:49.000Z',
  '2018-02-16T01:31:15.000Z',
  '2024-02-20T17:24:18.000Z',
  '2009-09-30T03:05:43.000Z',
  '2010-07-31T04:40:52.000Z',
  '2014-05-16T19:27:34.000Z',
  '2024-04-18T06:55:04.000Z'],
 'profile_image_url': ['https://pbs.twimg.com/profile_images/783501597003309056/jcH5jSI1_normal.jpg',
  'https://pbs.twimg.com/profile_images/1692749664280526848/Y4o5ZPqk_normal.png',
  'https://pbs.twimg.com/profile_images/1779590816652226560/OWskOm2g_normal.jpg',
  'https://pbs.twimg.com/profile_images/1778382640128966656/xoY6JPop_normal.jpg',
  'https://pbs.twimg.com/profile_images/1784632184139284480/4Wtndad-_normal.jpg',
  'https://pbs.twimg.com/profile_images/1471434131380727808/2zJJvbIS_normal.jpg',
  'https://pbs.twimg.com/profile_images/1828275024979210240/1e8NI2fm_normal.jpg',
  'https://pbs.twimg.com/profile_images/1767147267113504768/y7I_GqnJ_normal.jpg',
  'https://pbs.twimg.com/profile_images/1475262533321650176/3tEHEBvE_normal.jpg',
  'https://pbs.twimg.com/profile_images/1837816353946062851/OE7A1GHF_normal.jpg',
  'https://pbs.twimg.com/profile_images/1782721737870000128/m5vfZ63p_normal.jpg',
  'https://pbs.twimg.com/profile_images/1820120934524833792/oFX2tslg_normal.jpg',
  'https://pbs.twimg.com/profile_images/612280093621092354/-j9jfAHH_normal.jpg',
  'https://pbs.twimg.com/profile_images/1826602504010035200/f3tfzGI8_normal.jpg',
  'https://pbs.twimg.com/profile_images/1780852528881815552/d_vQWj35_normal.png'],
 'followers_count': [212,
  0,
  5,
  98,
  1894438,
  0,
  157,
  116,
  206,
  43,
  10,
  563,
  79,
  1846,
  0],
 'following_count': [702,
  17,
  39,
  79,
  362,
  8,
  2133,
  80,
  980,
  44,
  40,
  95,
  302,
  1791,
  1],
 'tweet_count': [10295,
  194,
  81,
  1899,
  672191,
  34,
  11029,
  5037,
  3048,
  7433,
  1635,
  9866,
  3018,
  17211,
  13],
 'like_count': [1213,
  44,
  33,
  100,
  517,
  216,
  218,
  1490,
  2390,
  2779,
  2215,
  927,
  142,
  22648,
  16],
 'listed_count': [1, 0, 0, 0, 2148, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0]}

In [27]:
data_user_profile

{'id': ['264927696',
  '1692749467127271424',
  '1257726520392445952',
  '1778380760346722304',
  '63070483',
  '1296155080941424641',
  '717694243599290368',
  '1731115890815664128',
  '2980199287',
  '964311177080733696',
  '1759992179215478786',
  '78497424',
  '173004529',
  '2499680852',
  '1780852486074695681'],
 'username': ['BentVuijk',
  'LayarTiang87515',
  'TjoeNathan_',
  'seluvvv77',
  'bharianmy',
  'Melt__yourHeart',
  'fahmy_z17792',
  'DindaLaw88',
  'andreacahya7',
  'sunseunnie',
  'soelung77',
  'Nahrowi_wawie',
  'nophagundol',
  'inibowoitubukan',
  'QalWeruy72584'],
 'name': ['Bent_Vuijk',
  'Tiang Layar',
  'Tjoenathan Dian.S',
  'seluvvv',
  'Berita Harian',
  '.',
  'fahmy_z17792',
  'Dinda',
  'Genos murid saitama',
  'Dee/Dii',
  'SamSon',
  'Jadwal Bola Update',
  'Dwi Nopha Danuwijoyo',
  'supermansantai_‚Ñ¢',
  'qal weruy'],
 'description': ['Holla Holla Bola ‚öΩüèÉ',
  '',
  'Semarang City ||guitar üé∏ || Football ‚öΩ|| ig : tjoenathan_ds ||',
  '‚ú®Ô∏èf24‚ú®Ô∏èfreedom of speech should be real‚ú®Ô∏è',
  'Wadah Pembaharuan. \nIkuti kami juga di https://t.co/hM7q8z63H2 \nThe New Straits Times Press (Malaysia) Berhad (Co. No. 196101000449 / 4485 H)',
  '.',
  '',
  'Akun baru dari @PyongDLaw .\n#AML .\n#AntiMoneyLaundering .\n#FreeDonbass .\n#FreePalestine .\n#FreeKachin .\n\nChina State Controlled Account.',
  '',
  '',
  'Akun ke-3\n---Orang miskin dan bodoh dipelihara negara agar tetap berkuasa--- Asian Value',
  'Living for mampir ngombe.\nInfo sepakbola Nasional & Liga2x Top Luar Negeri.',
  'Demi masa depan',
  'pagi dagang koran\nmalem dagang ketoprak',
  ''],
 'location': ['Indonesia',
  None,
  'Semarang Utara 1, Indonesia',
  None,
  'Malaysia',
  None,
  None,
  'Central Region, Singapore',
  None,
  None,
  'Commuter Jakarta, Konoha',
  'Stutgart',
  "apsela korek's",
  None,
  None],
 'verified': [False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 'created_at': ['2011-03-12T17:59:00.000Z',
  '2023-08-19T04:05:44.000Z',
  '2020-05-05T17:39:17.000Z',
  '2024-04-11T11:13:28.000Z',
  '2009-08-05T08:06:17.000Z',
  '2020-08-19T18:40:40.000Z',
  '2016-04-06T12:43:36.000Z',
  '2023-12-03T01:00:15.000Z',
  '2015-01-13T17:21:49.000Z',
  '2018-02-16T01:31:15.000Z',
  '2024-02-20T17:24:18.000Z',
  '2009-09-30T03:05:43.000Z',
  '2010-07-31T04:40:52.000Z',
  '2014-05-16T19:27:34.000Z',
  '2024-04-18T06:55:04.000Z'],
 'profile_image_url': ['https://pbs.twimg.com/profile_images/783501597003309056/jcH5jSI1_normal.jpg',
  'https://pbs.twimg.com/profile_images/1692749664280526848/Y4o5ZPqk_normal.png',
  'https://pbs.twimg.com/profile_images/1779590816652226560/OWskOm2g_normal.jpg',
  'https://pbs.twimg.com/profile_images/1778382640128966656/xoY6JPop_normal.jpg',
  'https://pbs.twimg.com/profile_images/1784632184139284480/4Wtndad-_normal.jpg',
  'https://pbs.twimg.com/profile_images/1471434131380727808/2zJJvbIS_normal.jpg',
  'https://pbs.twimg.com/profile_images/1828275024979210240/1e8NI2fm_normal.jpg',
  'https://pbs.twimg.com/profile_images/1767147267113504768/y7I_GqnJ_normal.jpg',
  'https://pbs.twimg.com/profile_images/1475262533321650176/3tEHEBvE_normal.jpg',
  'https://pbs.twimg.com/profile_images/1837816353946062851/OE7A1GHF_normal.jpg',
  'https://pbs.twimg.com/profile_images/1782721737870000128/m5vfZ63p_normal.jpg',
  'https://pbs.twimg.com/profile_images/1820120934524833792/oFX2tslg_normal.jpg',
  'https://pbs.twimg.com/profile_images/612280093621092354/-j9jfAHH_normal.jpg',
  'https://pbs.twimg.com/profile_images/1826602504010035200/f3tfzGI8_normal.jpg',
  'https://pbs.twimg.com/profile_images/1780852528881815552/d_vQWj35_normal.png'],
 'followers_count': [212,
  0,
  5,
  98,
  1894438,
  0,
  157,
  116,
  206,
  43,
  10,
  563,
  79,
  1846,
  0],
 'following_count': [702,
  17,
  39,
  79,
  362,
  8,
  2133,
  80,
  980,
  44,
  40,
  95,
  302,
  1791,
  1],
 'tweet_count': [10295,
  194,
  81,
  1899,
  672191,
  34,
  11029,
  5037,
  3048,
  7433,
  1635,
  9866,
  3018,
  17211,
  13],
 'like_count': [1213,
  44,
  33,
  100,
  517,
  216,
  218,
  1490,
  2390,
  2779,
  2215,
  927,
  142,
  22648,
  16],
 'listed_count': [1, 0, 0, 0, 2148, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0]}

In [28]:
#convert to csv
df_user_profile = pd.DataFrame(data_user_profile)
df_user_profile.to_csv('user_profile.csv', index=False)

In [29]:
df_user_profile.head()

,id,username,name,description,location,verified,created_at,profile_image_url,followers_count,following_count,tweet_count,like_count,listed_count
0,264927696,BentVuijk,Bent_Vuijk,Holla Holla Bola ‚öΩüèÉ,Indonesia,False,2011-03-12T17:59:00.000Z,https://pbs.twimg.com/profile_images/783501597...,212,702,10295,1213,1
1,1692749467127271424,LayarTiang87515,Tiang Layar,,None,False,2023-08-19T04:05:44.000Z,https://pbs.twimg.com/profile_images/169274966...,0,17,194,44,0
2,1257726520392445952,TjoeNathan_,Tjoenathan Dian.S,Semarang City ||guitar üé∏ || Football ‚öΩ|| ig : ...,"Semarang Utara 1, Indonesia",False,2020-05-05T17:39:17.000Z,https://pbs.twimg.com/profile_images/177959081...,5,39,81,33,0
3,1778380760346722304,seluvvv77,seluvvv,‚ú®Ô∏èf24‚ú®Ô∏èfreedom of speech should be real‚ú®Ô∏è,None,False,2024-04-11T11:13:28.000Z,https://pbs.twimg.com/profile_images/177838264...,98,79,1899,100,0
4,63070483,bharianmy,Berita Harian,Wadah Pembaharuan. \nIkuti kami juga di https:...,Malaysia,False,2009-08-05T08:06:17.000Z,https://pbs.twimg.com/profile_images/178463218...,1894438,362,672191,517,2148

In [30]:
#get data tweet with geo location 

filename = 'naturalisasi_geolocation.csv'
search_keyword = 'naturalisasi near:"Jakarta, Indonesia" within:50km since:2024-10-03 until:2024-10-06 lang:id'
limit = 100

!npx -y tweet-harvest@2.6.1 -o "{filename}" -s "{search_keyword}" --tab "LATEST" -l {limit} --token {'787fc6049a3a3cc6f09100a76e484f471fb59e7e'}

Tweet Harvest [v2.6.1]

Research by Helmi Satria
Use it for Educational Purposes only!

This script uses Chromium Browser to crawl data from Twitter with your Twitter auth token.
Please enter your Twitter auth token when prompted.

Note: Keep your access token secret! Don't share it with anyone else.
Note: This script only runs on your local device.


Opening twitter search page...


-- Scrolling... (1)
Filling in keywords: naturalisasi near:Jakarta,

 (2) (3) (4)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi_geolocation.csv
Total tweets saved: 18

-- Scrolling... (1) (2)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi_geolocation.csv
Total tweets saved: 32

-- Scrolling... (1)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi_geolocation.csv
Total tweets saved: 51

-- Scrolling... (1)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi_geolocation.csv
Total tweets saved: 70

-- Scrolling... (1)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi_geolocation.csv
Total tweets saved: 89

-- Scrolling... (1)

Your tweets saved to: /home/khalifardy/Dokumen/ruang_kerja/code/kuliah/ANALISIS_JARINGAN_SOSIAL/analisis_jaringan_sosial/week_3/tweets-data/naturalisasi_geolocation.csv
Total tweets saved: 108

--Taking a break, waiting for 10 seconds...
Got 108 tweets, done scrolling...

In [3]:
#look data geolocation
df_geolocation = pd.read_csv('tweets-data/naturalisasi_geolocation.csv')
df_geolocation.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1842767284479369624,Sun Oct 06 09:36:31 +0000 2024,0,@Reswara_ @fajarnugros Chuakkss,1842861483711152272,NaN,Reswara_,et,"Bekasi, Jawa Barat",0,0,0,https://x.com/rachmanndsyah/status/18428614837...,194059434,rachmanndsyah
1,1842830547653104005,Sun Oct 06 07:33:35 +0000 2024,0,sudah saatnya kita naturalisasi kiper biar kal...,1842830547653104005,NaN,NaN,in,"Cikampek, Indonesia",0,0,0,https://x.com/miawwzzz/status/1842830547653104005,1243182606813814789,miawwzzz
2,1842830026842292659,Sun Oct 06 07:31:31 +0000 2024,216,Andik netral Kok berkomentar ttg naturalisasi....,1842830026842292659,NaN,NaN,in,Jakarta-Indonesia,2,24,33,https://x.com/HadiGunawan1306/status/184283002...,1672543610,HadiGunawan1306
3,1842823608760238270,Sun Oct 06 07:06:00 +0000 2024,0,Naturalisasi Mees Hilgers dan Eliano Reijnders...,1842823608760238270,NaN,NaN,in,Jakarta,0,0,0,https://x.com/jawapos/status/1842823608760238270,2392460208,jawapos
4,1842823354883191008,Sun Oct 06 07:05:00 +0000 2024,0,Eks Bek Timnas Malaysia Mengaku Berdarah Indon...,1842823354883191008,NaN,NaN,in,Jakarta,0,0,0,https://x.com/Beritasatu/status/18428233548831...,154102750,Beritasatu

#REFERENSI
link : https://www.youtube.com/watch?v=BxryBUtUqEk&t=322s

#ASSISTANT

Chat GPT 4.0